[[redirects]]
  from = "http://wiremap.netlify.app/*"
  to = "https://wirem.app/:splat"
  status = 301
  force = true

[[headers]]
  for = "*.js"
  [headers.values]
    Cache-Control = "public, max-age=604800"
[[headers]]
  for = "*.css"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"