body {
    background: linear-gradient(180deg, #1B1B1B 0%, #141414 100%), #1E1E1E;
    @apply min-h-screen text-[#0D4380] dark:text-white;
}

.sub-body {
    @apply flex min-h-screen flex-col;
}

.sub-body .content {
    @apply flex flex-grow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    @apply uppercase
}

.card {
    @apply p-8
}

.drg {
    -webkit-app-region: drag;
    pointer-events: none;
}


