body {
    background: linear-gradient(180deg, #1B1B1B 0%, #141414 100%), #1E1E1E;
    @apply min-h-screen text-[#0D4380] dark:text-white;
}

.default-body {
    @apply flex min-h-screen flex-col;
}

.default-body #content-container {
    @apply relative flex flex-grow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    @apply uppercase
}

.card {
    @apply p-8
}

.drg {
    -webkit-app-region: drag;
    pointer-events: none;
}
.hero {
    background:
    linear-gradient(180deg, rgba(3, 3, 3, 0.24) 0%, rgba(2, 2, 2, 0.24) 100%);

}

section {
 @apply min-h-[384px] p-8
}

section .section-container {
    @apply min-h-[384px] max-w-7xl
}



