
.cards-container {
@apply flex flex-col md:flex-row h-[768px] w-full space-x-0 md:space-x-4 space-y-4 md:space-y-0
}

.cards-container > div {
    background: linear-gradient(0deg, #020202 -0.03%, #141414 99.97%);
    @apply w-full h-full
}


