footer {
    background: linear-gradient(0deg, #0E0E0E 0%, #141414 125%);
    @apply backdrop-blur-xl;
}

footer > div:first-of-type{
    @apply py-4 px-4 md:px-12 transition-all;
}

footer > div:last-of-type {
    @apply p-4 md:px-12 border-t border-white/10;
}

footer .editor-foot {
    @apply px-12 py-2 border-t border-white/10;
}

footer > div > div  {
    @apply mx-auto min-h-[64px] flex-col sm:flex-row flex max-w-[84rem] items-center justify-between
}