@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Heebo:wght@600&family=Montserrat:wght@400;600;900&display=swap');

@import './body.style.css';
@import './section.style.css';
@import './button.style.css';
@import './cookiePopup.style.css';
@import './hero.style.css';
@import './navbar.style.css';
@import './footer.style.css';
@import './cards.style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', 'DM Sans Regular', 'DM Sans Medium', 'DM Sans Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.logo-area {
  @apply text-white text-opacity-90 hover:text-opacity-100 flex items-center space-x-6 select-none cursor-pointer
}
 