@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Heebo:wght@600&family=Montserrat:wght@400;600;900&display=swap');

@import './components/body.style.css';
@import './components/section.style.css';
@import './components/dash.style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', 'DM Sans Regular', 'DM Sans Medium', 'DM Sans Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
@apply scroll-smooth;
}

a {
  color: inherit;
  text-decoration: none;
  @apply text-primary text-opacity-70 hover:text-opacity-100 transition-all cursor-pointer
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.logo-area {
  @apply text-white text-opacity-90 hover:text-opacity-100 flex items-center space-x-6 select-none cursor-pointer
}


#tooltip {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}