.hero {
    background:
    linear-gradient(180deg, rgba(3, 3, 3, 0.24) 0%, rgba(2, 2, 2, 0.24) 100%);
    @apply relative overflow-hidden w-full z-10 
}

.hero > div > div {
    @apply flex h-full z-[-1] lg:w-full
}

.hero > div > div:first-of-type {
    @apply z-[1]
}

.hero .decoration-1 {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    @apply hidden absolute mt-[96px] lg:flex h-[684px] w-[684px] ml-0 content-center items-center justify-center rounded-[900px] transition
}