/* Navbar Container */
.navbar-default {
    @apply  absolute px-4 md:px-12 z-[98] h-[96px] w-full border-0 border-transparent text-white transition-all
}

/* Editor Navbar Container */
.navbar-editor {
    @apply  relative pl-4 pr-2 p-2.5  z-[98] h-[96px] w-full border-0 border-transparent text-white transition-all
}

/* Editor Navbar  */
.navbar-editor > div  {
    @apply mx-auto flex h-full w-full items-center justify-between text-sm
}

/* CTA Buttons Container */
.navbar-editor > div > div:last-of-type {
    @apply flex w-full items-center justify-end space-x-2 
}


/* Navbar  */
.navbar-default > div  {
    @apply mx-auto flex h-full w-full max-w-[84rem] items-center justify-between text-sm
}

/* CTA Buttons Container */
.navbar-default > div > div:last-of-type {
    @apply flex w-full items-center justify-end space-x-2 
}

/* CTA Last Item (for margin) */
.navbar-default > div > div:last-of-type > div:first-of-type {
    @apply mr-0 lg:mr-4 
}

/* NavMenu Container */
.navbar-default > div > div:last-of-type > div:first-of-type nav{
    @apply hidden items-center space-x-6 px-2 uppercase drop-shadow-md md:flex transition-all
}

/* Navmenu Items */
.navbar-default > div > div:last-of-type > div:first-of-type nav a{
    @apply cursor-pointer font-semibold hover:opacity-100 text-white
}