.navbar-default {
    @apply  absolute z-[98] h-[96px] w-full border-0 border-transparent px-8 text-white
}

.navbar-default .container {
    @apply mx-auto flex h-full w-full max-w-7xl items-center justify-between text-sm
}

.navbar-default .menu {
    @apply flex w-full items-center justify-end space-x-2
}

.navbar-default .menu .menu-container {
    @apply mr-0 flex grow items-center md:justify-center lg:mr-4 lg:justify-end
}

.navbar-default .menu .menu-container nav{
    @apply hidden items-center space-x-6 px-2 uppercase drop-shadow-md md:flex
}

.navbar-default .menu .menu-container nav a{
    @apply cursor-pointer font-semibold text-white hover:opacity-100 dark:text-white
}