
.section-secondary-bg {
    background:
        linear-gradient(180deg, rgba(3, 3, 3, 0.16) 0%, rgba(2, 2, 2, 0.16) 100%);
}

section {
 @apply relative overflow-hidden w-full z-10 min-h-[384px] p-8
}

section > div {
    @apply mx-auto flex h-full w-full max-w-[72rem]
}
